# Force LF for text files, except Windows-specific files
*                 text=auto eol=lf
*.go               text eol=lf
*.{vue,ts,tsx,js,jsx,json,scss,css,html,md,yml,yaml,sh}  text eol=lf

# Windows-specific
*.bat              text eol=crlf
*.cmd              text eol=crlf
*.ps1              text eol=crlf

# Binary
*.png              binary
*.jpg              binary
*.jpeg             binary
*.gif              binary
*.ico              binary
*.pdf              binary
*.zip              binary
*.tar.gz           binary
